<header class="header-area header-wrapper">
    <div class="header-top-bar bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="logo">
                        <a href="index.html">
                            <img src="~/sheltek/images/logo/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="company-info clearfix">
                        <div class="company-info-item">
                            <div class="header-icon">
                                <img src="~/sheltek/images/icons/phone.png" alt="">
                            </div>
                            <div class="header-info">
                                <h6>+90 555 555 55 55</h6>
                                <p>09:00'dan 18:00'a kadar açığız</p>
                            </div>
                        </div>
                        <div class="company-info-item">
                            <div class="header-icon">
                                <img src="~/sheltek/images/icons/mail-open.png" alt="">
                            </div>
                            <div class="header-info">
                                <h6><a href="mailto:info@domain.com">info@domain.com</a></h6>
                                <p>Bize mail atabilirsiniz</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="header-search clearfix">
                        <form action="#">
                            <button class="search-icon" type="submit">
                                <img src="~/sheltek/images/icons/search.png" alt="">
                            </button>
                            <input type="text" placeholder="Ara...">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sticky-header" class="header-middle-area transparent-header d-none d-md-block">
        <div class="container">
            <div class="full-width-mega-drop-menu">
                <div class="row">
                    <div class="col-12">
                        <div class="sticky-logo">
                            <a href="index.html">
                                <img src="~/sheltek/images/logo/logo.png" alt="">
                            </a>
                        </div>
                        <nav id="primary-menu">
                            <ul class="main-menu text-center">
                                <li><a href="/Default/Index/">Ana Sayfa</a></li>
                                <li><a href="/DefaultProperties/Index/">Mülkler</a></li>    
                                <li><a href="/ContactUs/Index/">İletişim</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>