<div class="subscribe-area bg-blue call-to-bg plr-140 ptb-50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="section-title text-white">
                    <h3>MAIL BÜLTENİMİZE</h3>
                    <h2 class="h1">ABONE OLUN</h2>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <div class="subscribe">
                    <form action="#">
                        <input type="text" name="subscribe" placeholder="Mail adresinizi buraya yazın...">
                        <button type="submit" value="send">Abone Ol</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>