@model UpdateCategoryViewModel
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UpdateCategory</h1>

<form method="post">
    <br />
    <br />
    <label>Kategori ID</label>
    <input type="text" readonly class="form-control" asp-for="CategoryID" />
    <br />
    <label>Kategori Adı</label>
    <input type="text" class="form-control" asp-for="CategoryName" />
    <br />
    <button class="btn btn-success">Kategori Güncelle</button>
</form>