<div class="slider-1 pos-relative slider-overlay">
    <div class="bend niceties preview-1">
        <div id="ensign-nivoslider-3" class="slides">
            <img src="~/sheltek/images/slider/1.jpg" alt="" title="#slider-direction-1" />
            <img src="~/sheltek/images/slider/2.jpg" alt="" title="#slider-direction-2" />
            <img src="~/sheltek/images/slider/1.jpg" alt="" title="#slider-direction-3" />
        </div>
        <!-- direction 1 -->
        <div id="slider-direction-1" class="slider-direction">
            <div class="slider-content text-center">
                <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <h4 class="slider-1-title-1"><span>Sheltek'e</span> Hoşgeldiniz</h4>
                </div>
                <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                    <h1 class="slider-1-title-2">BİZİMLE HAYALLERİNİZDEKİ EVİ BULUN</h1>
                </div>
                <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">
                    <p class="slider-1-desc">

                        Bizimle, hayallerinizdeki evi bulmak için adım atın ve mükemmel konutunuza ulaşın. <br> Size en iyi hizmeti sunarak ev sahibi olma yolculuğunuzda yanınızda olacağız.
                    </p>
                </div>
                <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
                </div>
            </div>
        </div>
        <!-- direction 2 -->
        <div id="slider-direction-2" class="slider-direction">
            <div class="slider-content text-left">
                <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                    <h4 class="slider-1-title-1"><span>Sheltek'e</span> Hoşgeldiniz</h4>
                </div>
                <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                    <h1 class="slider-1-title-2">DENEYİMLİ TAKIMIMIZ</h1>
                </div>
                <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">
                    <p class="slider-1-desc">
                        Deneyimli takımımız, uzman bilgisi ve sektördeki tecrübesiyle size en iyi gayrimenkul danışmanlığı hizmetini sunmak için burada. 
                        <br> Profesyonel yaklaşımımız ve müşteri odaklılığımızla size güvenilir bir rehberlik sağlamak için çalışıyoruz.
                    </p>
                </div>
                <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
                </div>
            </div>
        </div>
    </div>
</div>