<div class="booking-area bg-1 call-to-bg plr-140 pt-75">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="section-title text-white">
                    <h3>EVİNİZİ BURADAN</h3>
                    <h2 class="h1">ALIN</h2>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <div class="booking-conternt clearfix">
                    <div class="book-house text-white">
                        <h2>EVİNİZİ YA DA APARTMANINIZI BİZDEN ALIN </h2>
                        <h2 class="h5">BİZİ ARAYIN : +90 555 555 55 55 </h2>
                    </div>
                    <div class="booking-imgae">
                        <img src="~/sheltek/images/others/booking.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>