@model UpdateAgentViewModel
@{
    ViewData["Title"] = "UpdateAgent";
    Layout = "~/Views/_AdminLayout/Index.cshtml";
}

<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <h5 class="card-header">Operatör Güncelle</h5>
                    <!-- Account -->
                    <div class="card-body">
                        <form method="post">
                            <div class="card-body">
                                <div class="d-flex align-items-start align-items-sm-center gap-4">
                                    <img src="@Model.AgentImage"
                                         alt="user-avatar"
                                         class="d-block rounded"
                                         height="100"
                                         width="100"
                                         id="uploadedAvatar" />
                                </div>
                            </div>
                            <input type="hidden" asp-for="AgentID" />
                            <hr class="my-0" />
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="firstName" class="form-label">Ad Soyad</label>
                                    <input class="form-control"
                                           type="text"
                                           id="firstName"
                                           asp-for="AgentName"
                                           autofocus />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="firstName" class="form-label">Ünvan</label>
                                    <input class="form-control"
                                           type="text"
                                           id="firstName"
                                           asp-for="AgentTitle"
                                           autofocus />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="firstName" class="form-label">Mail</label>
                                    <input class="form-control"
                                           type="text"
                                           id="firstName"
                                           asp-for="AgentMail"
                                           autofocus />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="firstName" class="form-label">Telefon</label>
                                    <input class="form-control"
                                           type="text"
                                           id="firstName"
                                           asp-for="AgentPhone"
                                           autofocus />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">Facebook Adresi</label>
                                    <input class="form-control"
                                           type="text"
                                           asp-for="AgentSocial1"
                                           placeholder="https://www.facebook.com/example" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">LinkedIn Adresi</label>
                                    <input class="form-control"
                                           type="text"
                                           asp-for="AgentSocial2"
                                           placeholder="https://www.linkedin.com/example" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">Twitter Adresi</label>
                                    <input class="form-control"
                                           type="text"
                                           asp-for="AgentSocial3"
                                           placeholder="https://www.twitter.com/example" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">Google Plus Adresi</label>
                                    <input class="form-control"
                                           type="text"
                                           asp-for="AgentSocial4"
                                           placeholder="https://www.google.com/example" />
                                </div>
                                <div class="mb-3 col-md-12">
                                    <label for="email" class="form-label">Resim Yolu</label>
                                    <input class="form-control"
                                           type="text"
                                           asp-for="AgentImage"
                                           />
                                </div>
                                <div class="mt-2">
                                    <button type="submit" class="btn btn-primary me-2"><span class="tf-icons bx bx-refresh"></span>Güncelle</button>
                                    <a href="/AdminAgent/Index/" class="btn btn-danger"><span class="tf-icons bx bx-arrow-back"></span> Vazgeç </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-backdrop fade"></div>
</div>
