<footer id="footer" class="footer-area bg-black">
    <div class="footer-top pt-110 pb-80">
        <div class="container">
            <div class="row">
                <!-- footer-address -->
                <div class="col-xl-4 col-lg-3 col-md-6 col-12 order-1">
                    <div class="footer-widget">
                        <h6 class="footer-titel">Bizimle İletişime Geçin</h6>
                        <ul class="footer-address">
                            <li>
                                <div class="address-icon">
                                    <img src="~/sheltek/images/icons/location-2.png" alt="">
                                </div>
                                <div class="address-info">
                                    <span>0034 İstanbul/Bahçelievler</span>
                                    <span></span>
                                </div>
                            </li>
                            <li>
                                <div class="address-icon">
                                    <img src="~/sheltek/images/icons/phone-3.png" alt="">
                                </div>
                                <div class="address-info">
                                    <span>Telefon : +90 555 555 55 55</span>
                                    <span>Telefon : +90 555 555 55 55</span>
                                </div>
                            </li>
                            <li>
                                <div class="address-icon">
                                    <img src="~/sheltek/images/icons/world.png" alt="">
                                </div>
                                <div class="address-info">
                                    <span>Mail : info@domain.com</span>
                                    <span>Web :<a href="#" target="_blank"> www.ornek.com</a></span>
                                </div>
                            </li>
                            <li>
                                <a href="/AdminAgent/Index/">Admin Paneli</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- footer-latest-news -->
                <div class="col-xl-5 col-lg-5 col-12 order-3 order-lg-2 mt-md-30">
                    <div class="footer-widget middle">
                        <h6 class="footer-titel">Son Mülkler</h6>
                        <ul class="footer-latest-news">
                            <li>
                                <div class="latest-news-image">
                                    <a href="single-blog.html"><img src="~/sheltek/images/blog/1.jpg" alt=""></a>
                                </div>
                                <div class="latest-news-info">
                                    <h6><a href="single-blog.html">Mason Villası</a></h6>
                                    <p>
                                       450 m2
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="latest-news-image">
                                    <a href="single-blog.html"><img src="~/sheltek/images/blog/2.jpg" alt=""></a>
                                </div>
                                <div class="latest-news-info">
                                    <h6><a href="single-blog.html">Demir Konakları</a></h6>
                                    <p>
                                        475 m2
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="latest-news-image">
                                    <a href="single-blog.html"><img src="~/sheltek/images/blog/3.jpg" alt=""></a>
                                </div>
                                <div class="latest-news-info">
                                    <h6><a href="single-blog.html">Narlı Park</a></h6>
                                    <p>
                                        525
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- footer-contact -->
                <div class="col-xl-3 col-lg-4 col-md-6 col-12 order-2 order-lg-3 mt-sm-30">
                    <div class="footer-widget">
                        <h6 class="footer-titel">İLETİŞİM</h6>
                        <div class="footer-contact">
                            <form id="contact-form-2" action="https://demo.hasthemes.com/sheltek-preview/sheltek/mail_footer.php" method="post">
                                <input type="email" name="email2" placeholder="Mail Adresiniz.....">
                                <textarea name="message2" placeholder="Mesajınızı Buraya Yazın...."></textarea>
                                <button type="submit" value="send">Gönder</button>
                            </form>
                            <p class="form-messege"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright text-center">
                        <p>
                            © @DateTime.Now.Year
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>