<div class="menu-inner-shadow"></div>

<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/AdminProduct/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home"></i>
            <div data-i18n="Analytics">Mülkler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-message-dots"></i>
            <div data-i18n="Layouts">Mesajlar</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/AdminMessage/Index/" class="menu-link">
                    <div data-i18n="Without menu">Gelen Mesajlar</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/AdminSentMessage/Index/" class="menu-link">
                    <div data-i18n="Without navbar">Gönderilen Mesajlar</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="/AdminAgent/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-group"></i>
            <div data-i18n="Analytics">Operatorler</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-brush"></i>
            <div data-i18n="Layouts">Vitrin İşlemleri</div>
        </a>

        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/AdminAboutUs/Index/" class="menu-link">
                    <div data-i18n="Without menu">Hakkımızda</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/AdminContactUs/Index/" class="menu-link">
                    <div data-i18n="Without navbar">İletişim</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/AdminFeatues/Index/" class="menu-link">
                    <div data-i18n="Container">Özellikler</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/AdminService/Index/" class="menu-link">
                    <div data-i18n="Container">Servisler</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/AdminTestimonial/Index/" class="menu-link">
                    <div data-i18n="Container">Müşteriler</div>
                </a>
            </li>
        </ul>
    </li>
</ul>