@model List<TestimonialListViewModel>
<div class="testimonial-area pb-115">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="testimonial">
                    <div class="row">
                        <div class="col-lg-8 col-md-9">
                            <div class="section-title mb-30">
                                <h3>BAZI</h3>
                                <h2 class="h1">MUTLU MÜŞTERİLERİMİZ</h2>
                            </div>
                            <div class="testimonial-carousel dots-right-btm">
                                @foreach (var item in Model)
                                {
                                <div class="testimonial-item">
                                    <div class="testimonial-brief">
                                        <p>
                                            @item.TestimonialContent
                                        </p>
                                    </div>
                                    <h6>@item.TestimonialName</h6>
                                </div>
                                }
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="testimonial-image">
                                <img src="~/sheltek/images/others/testimonial.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>